html{
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
}

.blueButton {
  color: blue;
}

li{
  display: list-item;

}

#parrafos, .border {
  border: 3px solid black;
  padding: 20px
}