:root{
    --bgcolor: #f4f4f4;
    --bgColorOscuro: #333;
    --colorTexto: #fff;
    --colorTextoOscuro: #333;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    width: 100vw;
    height: 100vh;
}

h1{
    background-color: var(--bgColorOscuro);
    color: var(--colorTexto);
    text-align: center;
}

body *{
    margin: 1rem;
}

h2{
    font-size: 1rem;
}

hr{
    height: 1.5px;
    background-color: black;
}

.propiedades_texto > p{
    text-decoration: underline;
    font-size: 0.9rem;
}

.propiedades_texto > blockquote{
    font-size: 0.8rem;
    background-color: #f5f5f5;
    font-style: italic;
    border-left: 5px solid #ccc;
    color: #666;

}

.caja1{
    border: 1px solid #333;
    border-radius: 6px;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.7);
    background-color: #fff;
}

.caja2{
    border: 3px solid #333;
    border-radius: 6px;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.7);
    background-color: #f1cea0;
}

.contenedor_relativo{
    position: relative;
    background-color: #e0f7fa;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 8%;
}

.contenedor_absoluto{
    position:absolute;
    bottom: -90%;
    right: -5%;
    background-color: rgb(12, 138, 138);
    border-radius: 5px;
    color: var(--colorTexto);
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1px;
    text-align: center;
} 

.grid-container > div {
    background-color: #7683f8;
    color: white;
    min-height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    font-size: small;
    font-weight: bold;
}

.animacion {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s ease-in-out;
}  

.animacion:hover {
    background-color: blue;
}

.mover{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
    animation: mover 3s infinite;
}

@keyframes mover{
    0%{
        transform: translateX(0px);
        }
    50%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0px);
    }
}


@media (max-width: 768px){
    body{
        background-color: #777;
    }

    h1{
        font-size: 20px;
    }

    section{
        background-color: #cfa5da;
    }

    section > div{
        background-color: var(--bgcolor);
        width: 95%;
        padding: 10px;
    }
}